body {
    background: #FBEAEB;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

header {
    background: #2F3C7E;
    position: sticky;
    top: 0;
    z-index: 100; 
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

nav img {
    max-height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #1F2A5E;
    color: #FFD700;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    color: black;
    border-radius: 10px;
    animation: pop 0.5s ease-out;
}
.timeline {
    position: relative;
    padding: 10px 0;
    margin: 20px 0;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 20px; 
    top: 0;
    height: 100%;
    border-left: 10px solid lightgreen;
    z-index: 1;
}

.timeline-item {
    position: relative;
    margin: 20px 0;
    padding-left: 50px; 
    padding-top: 50px;
}

.timeline-dot {
    position: absolute;
    left: 10px; /* Position of the dot */
    width: 10px;
    height: 10px;
    background: maroon;
    border-radius: 50%;
    border: 10px solid #FBEAEB;
    z-index: 2;
}

.timeline-content {
    background: #FBEAEB;
    border: 1px solid #2F3C7E;
    border-radius: 6px;
    padding: 10px 20px;
    color: black;
    position: relative;
}

.timeline-content h3 {
    margin-top: 0;
}

.timeline-content img{
    flex-direction: ;
}
@keyframes pop {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #2F3C7E;
        position: absolute;
        top: 70px;
        left: 0;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 0;
        text-align: center;
    }

    nav ul li a {
        padding: 15px;
        border-top: 1px solid #1F2A5E;
    }

    .menu-icon {
        display: block;
    }
}
